<html>
<head>
  <meta charset="utf-8">
  
  <title>Laptop Store</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  
 
</head>
<body class="hold-transition sidebar-mini">
	
	<div class="wrapper">
		
		<!-- Navbar -->
		<nav class="main-header navbar navbar-expand navbar-white navbar-light">
		<!-- Left navbar links -->
			<ul class="navbar-nav">
				<li class="nav-item">
				<a class="nav-link" data-widget="pushmenu" href="#" role="button"> 
                                           <i class="fas fa-bars"></i></a>
				</li>
				<li class="nav-item d-none d-sm-inline-block">
				<a href="/" class="nav-link">Home</a>
				</li>
			</ul>
		</nav>
		<!-- /.navbar -->
		
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
		<!-- Brand Logo -->
			<a href="#" class="brand-link">
			  <img src="lappy1.jpg"
				 
				   class="brand-image img-circle elevation-3">
			  <span class="brand-text font-weight-light">Laptop Store</span>
			</a>
			<!-- Sidebar -->
			<div class="sidebar">
			<!-- Sidebar Menu -->
  <nav class="mt-2">
	<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	
<li class="nav-item">
		<a href="/create" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p>Add Product</p>
		</a>
	  </li>
	  <li class="nav-item">
	  <a href="/salesdetails" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p>Sales Details</p>
		</a>
	  </li>
	  
	  <li class="nav-item">
		<a href="/updateproduct" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p class="text">Update Product</p>
		</a>
	  </li>
	  <li class="nav-item">
		<a href="/deleteproduct" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p class="text">Delete Product</p>
		</a>
	  </li>


	  
	</ul>
</nav>

			</div>
			<!-- /.sidebar -->
		</aside>
		
		<!-- Content Wrapper. Contains page content -->
	
		<div class="content-wrapper">
			
			<section class="content-header">
				<h1><u>Laptop Inventory Management</u></h1>
			</section>
			
		<p>  <b> A Laptop computer is a small personal computer.They are designed to be more portable than traditional desktop computers with many of the same abilities.Laptops are able to be folded flat for transportation and have a bulit-in keyboard and touchpad.
 Laptops are computers designed for portability.They have all the same components and capalities of traditional desktop but are smaller and can fold up.
 Laptops are generally less powerful than desktops.
 There are different categories of laptops designed for various uses.Many laptops come with options to upgrade specific components to tailor them to the needs of the user.Most laptops are ppowerful enough for everyday business adminstrative,home,or school use.However
 ,if a user does graphical work such as 3D rendering or move encoding, a more advanced as laptop is needed.As advanced as laptops are,
 the top-end ones still cannot compete with high powered desktops and workstations when processing power is needed.these factors should be considered when choosing a laptop for your bussiness or professional needs.Size,necessary performance, the operating system,and price are all aspects to consider when looking for the right computer.
</b>
</p>


                    <img src="lappy1.jpg" width=300 height=300>
		    
		    <img src="lappy2.jpg" width=300 height=300>
		    
		    <img src="lappy3.jpg" width=300 height=300>
                    </div>
                    
			</section>
		</div>
		
	</div>
</body>
</html>
